<h1>Stupid Coaching</h1>
<div class="messages">
  <%= @answer %>
  <p><em>- You</em></p>
</div>

<div class="messages answer">
  <% if @answer == 'I am going to work' %>
  <p><%= "Great!" %></p>
  <% elsif @answer.last == '?' %>
  <p><%= "Silly question, get dressed and go to work!" %></p>
  <% else %>
  <p><%="I don't care, get dressed and go to work!" %></p>
  <% end %>
  <p><em>- Your coach </em></p>
</div>

<%=link_to "Ask the coach a new question", ask_path %>
